.prefixed-a {
    content: 'block';
}

.prefixed-b {
    content: 'block__element';
}

.prefixed-c {
    content: 'block__element--modifier';
}

.prefixed-d{
    content: 'block--modifier';
}

.prefixed-e:before {
    content: 'before';
}

.prefixed-c {
    content: 'block__element--modifier';
}

#prefixed-a {
    content: 'id';
}

.prefixed-f[src] {
    content: 'attribute';
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

@media screen and (min-width: .40em) {
    #prefixed-a {
        height: .20px;
        width: .20em;
    }
}

/**
 * a description
 */
@media screen and (min-width: 40em)

{
    #prefixed-a
    {
        height: .20px;
        width: .20em;
    }
}

h1 {
    color: red;
}

.prefixed-g {
    content: 'reveal';
    color: #eee;
    font-size: .5rem;
}

.prefixed-h.prefixed-g {
    content: 'js reveal';
}

.prefixed-i.prefixed-g {
    content: 'js reveal';
}

.prefixed-j {
    content: 'js-reveal';
}
