.jp-block {
    content: 'block';
}

.jp-block__element {
    content: 'block__element';
}

.jp-block__element--modifier {
    content: 'block__element--modifier';
}

.jp-block--modifier{
    content: 'block--modifier';
}

.jp-pseudo:before {
    content: 'before';
}

.jp-block__element--modifier {
    content: 'block__element--modifier';
}

#id {
    content: 'id';
}

.jp-attribute[src] {
    content: 'attribute';
}

@media screen and (min-width: .40em) {
    #id {
        height: .20px;
        width: .20em;
    }
}

/**
 * a description
 */
@media screen and (min-width: 40em)

{
    #id
    {
        height: .20px;
        width: .20em;
    }
}

h1 {
    color: red;
}
