.a {
    content: 'block';
}

.b {
    content: 'block__element';
}

.c {
    content: 'block__element--modifier';
}

.d{
    content: 'block--modifier';
}

.e:before {
    content: 'before';
}

.c {
    content: 'block__element--modifier';
}

#f {
    content: 'id';
}

.g[src] {
    content: 'attribute';
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

@media screen and (min-width: .40em) {
    #f {
        height: .20px;
        width: .20em;
    }
}

/**
 * a description
 */
@media screen and (min-width: 40em)

{
    #f
    {
        height: .20px;
        width: .20em;
    }
}

h1 {
    color: red;
}

.h {
    content: 'reveal';
    color: #eee;
    font-size: .5rem;
}

.js.h {
    content: 'js.reveal';
}

.no-js.h {
    content: 'js.reveal';
}

.i {
    content: 'js-reveal';
}
