.e {
    content: 'block';
}

.t {
    content: 'block__element';
}

.n {
    content: 'block__element--modifier';
}

.r {
    content: 'block--modifier';
}

.i:before {
    content: 'before';
}

.n {
    content: 'block__element--modifier';
}

#s {
    content: 'id';
}
